{% extends "layout.twig" %}
{% block content %}
<h1>Dashboard</h1>
<ul>
    <li><a href="/PHP/users/add">Add User</a></li>
    <li><a href="/PHP/jobs/add">Add Job</a></li>
</ul>
<br><br>
<a href="/PHP/logout">Logout</a>
{% endblock %}